@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /*background*/
    --main-bg: #f3f5f4;
    --secondary-bg: #fff;
    --main-bg-dark: #121212;
    --secondary-bg-dark: #181818;
    --card-bg-dark: #242424;
    /*nav*/
    --nav-bg: #fff;

    /*text*/
    --text: #000;
    --text-secondary: #374151;
    --text-dark: #fff;
    --text-secondary-dark: #e2e8f0 ;
    --text-highlight: #1DB954;
}