@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /*background*/
    --main-bg: #f3f5f4;
    --main-bg-dark: #121212;
    --secondary-bg-dark: #181818;
    /*nav*/
    --nav-bg: #fff;

    /*text*/
    --text: #000;
    --text-dark: #fff;
    --text-highlight: #1DB954;
}